
Lesson1/.ipynb_checkpoints/exercise-checkpoint.ipynb
Lesson2/.ipynb_checkpoints/exercise-checkpoint.ipynb
Lesson2/.ipynb_checkpoints/lesson-checkpoint.ipynb
Lesson3/.ipynb_checkpoints/exercise-checkpoint.ipynb
Lesson3/.ipynb_checkpoints/lesson-checkpoint.ipynb
Lesson1/.ipynb_checkpoints/exercises-checkpoint.ipynb
Lesson1/.ipynb_checkpoints/Lesson1-checkpoint.ipynb
Lesson1/.ipynb_checkpoints/Lesson1-checkpoint.ipynb
